# react dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/.env

# react testing
/client/coverage

# react production
/client/build

# react eslint
/client/.eslintcache

# react misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# comments service dependencies
/comments/node_modules
/comments/.env

# posts service dependencies
/posts/node_modules
/posts/.env

# query service dependencies
/query/node_modules
/query/.env

# event-bus service dependencies
/event-bus/node_modules
/event-bus/.env

